.box {
  padding: 10px 10px;
}
.box .container {
  background-color: #1e2024;

  border-radius: 10px;
}

.box-list ul {
  margin-top: 0px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  height: 0;
  overflow: hidden;
  transition: all 0.2s linear;
}
.box-list.show ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  height: auto;
  overflow: hidden;
  transition: all 0.2s linear;
  padding: 10px;
}
.box-list-item {
  background-color: #1e2024;
  border: 0.2px solid #ccc;
  border-radius: 4px;
  
  cursor: pointer;
  padding: 2px 10px;
}

.box-list-item.active{
  background-color: var(--icon-color);
  border-color: var(--icon-color);
  transition: all 0.2s linear;
}
.box-list-item.active a{
  color: black;
}
.box-list-item a {
 
  font-size: 12px;
  text-transform: capitalize;
  color: var(--icon-color);

}
