@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;900&display=swap");

:root {
  --black-color: #1e2024;
  --text-color: #fff;
  --back-color: #24262b;
  --icon-color: #d1a110;
}

.app {
  width: 100%;
  background-color: var(--back-color);
}
.admin {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background-image: url("../image/background-login.jpg"); */
  background-image: url("../image/background-login.jpg"),
    linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.8) 100%
    );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

html {
  font-size: 65.5%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 1.4rem !important;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}



/* ====================================== */
.lds-dual-ring {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
}
.lds-dual-ring:after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #131212 transparent #111010 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.h1{
  color: #fff;
  padding: 10px;
  background-color: #1e2024;
  border-radius: 5px;
  margin-bottom: 20px;
  line-height: 1.4;
}
.h1 a{
  color: #d1a110;
}

.ab{
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.link-home{
  color: #d1a110;
  padding: 10px;
  background-color: #1e2024;
  display: block;
  margin-bottom: 20px;
  border-radius: 5px;
text-align: center;
font-size: 1.8rem;
}

.image .react-loading-skeleton{
  width: 100% !important;
}