.item {
  position: relative;
  cursor: pointer;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.image {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  height: 150px;
}
.genre {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: red;
  color: #fff;
  padding: 5px 10px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 5px;
  font-size: 11px;
}
.name {
  color: #fff;
  margin: 10px 0;
  height: 22px;
  line-height: 1.4;
  transition: all 0.2s linear;
}

.name:hover {
  color: var(--icon-color);
}

.view {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 5px;
  font-size: 11px;
  background-color: red;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 2px;
}

.view .icon {
  font-size: 11px;
  color: #fff;
}

.view .icon path {
  stroke: #fff;
}
